.todoBlock{
    margin-top: 10px;
    text-align: center;

    input{
        text-align: center;

        &:focus::placeholder{
            color: #fff;
            transition: .3s all;
        }
        
        &::placeholder{
            transition: .3s all;
        }
    }
}

.todoList{
    margin-top: 10px;
    border-top: 1px solid #d9d9d9;
    padding-top: 5px;
}